/* p {
  color: rgb(30, 30, 128);
  font-style: italic;
} */
/* button {
  background-color: hsl(160, 69%, 53%);
  color: white;
  padding: 0.5rem;
  border: none;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.678);
  transition: all 0.1s;
  border-radius: 0.2em;
  cursor: pointer;
} */
/* button:active {
  box-shadow: none;
  margin: 2px 0 0 2px;
} */
.student {
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid hsl(200, 100%, 52%);
  padding: 1em;
  margin: 0.8rem;
}
.welcomeMsg {
  color: rgb(255, 255, 255);
  padding: 0.4em;
  margin: 0;
  background-color: hsl(114, 94%, 35%);
  width: max-content;
  border-radius: 0.2em;
  box-shadow: 0.18em 0.18em 0 rgb(0, 0, 0);
  transition: all 0.1s;
  cursor: pointer;
}
.welcomeMsg:active {
  box-shadow: none;
  margin: 0.18em 0 0 0.18em;
}
.loginPrompt {
  padding: 0.4em;
  margin: 0;
  background-color: hsl(0, 86%, 36%);
  width: max-content;
  border-radius: 0.2em;
}

/*List class*/
.list-category {
  font-weight: bold;
  font-size: 2em;
  border: 2px solid black;
  text-align: center;
  border-radius: 5px;
  background-color: hsl(185, 100%, 50%);
  margin: 0.65em;
  padding: 0.1em;
  transition: all 0.3s;
}
.list-category:hover {
  background-color: hsl(0, 0%, 0%);
  color: hsl(185, 100%, 50%);
  border-color: hsl(185, 100%, 50%);
}
.list-items li {
  color: hsl(0, 95%, 34%);
  cursor: pointer;
  list-style: none;
  text-align: center;
  margin: 0;
}
.list-items li:hover {
  color: rgb(143, 137, 137);
}

/* Counter styles */
.counter-container {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.count-display {
  font-size: 10em;
  margin: 0 0 0.5em 0;
}
.count-container {
  padding: 0.5em;
  width: 8em;
  margin: 0 1em;
  font-weight: bold;
  background-color: rgb(48, 193, 0);
  border: none;
  color: white;
  border-radius: 0.3em;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
.count-container:hover {
  box-sizing: border-box;
  color: rgb(48, 193, 0);
  background-color: white;
  border: 1px solid rgb(48, 193, 0);
}

/*Color Picker styles*/
.color-picker-container {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.color-display {
  margin: 0 0 0.7em 0;
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid gray;
  border-radius: 10px;
  transition: all 0.2s ease;
}
.color-display p {
  font-size: 0.8em;
}

input[type='color'] {
  border-radius: 5px;
  border: 1px solid rgb(106, 106, 106);
  width: 50px;
}
/* todo list styles */
.to-do-list {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 100px;
}
.to-do-list h1 {
  font-size: 3rem;
}
button {
  color: white;
  font-size: 1rem;
  font-weight: bold;
  background-color: rgb(118, 118, 118);
  border: none;
  border-radius: 2px;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
  margin: 2px 2px;
  transition: background-color 0.5 ease;
}
.add-button {
  background-color: rgb(7, 196, 7);
  transition: background-color 0.3s ease;
}
.add-button:hover {
  background-color: rgb(0, 115, 0);
}
.delete-button {
  background-color: rgb(202, 4, 4);
  transition: background-color 0.3s ease;
  font-size: 0.7rem;
}
.delete-button:hover {
  background-color: rgb(119, 0, 0);
}
.move-button {
  background-color: rgb(0, 132, 255);
  transition: background-color 0.3s ease;
  font-size: 0.7rem;
}
.move-button:hover {
  background-color: rgb(0, 89, 172);
}
.to-do-list input[type='text'] {
  color: rgba(0, 0, 0, 0.471);
  font-size: 1rem;
  outline: none;
}
ol {
  padding: 0;
}
/* li {
  display: flex;
  align-items: center;
  padding: 0;
  margin-bottom: 2px;
  background-color: rgba(0, 0, 0, 0.078);
  border: 1px solid rgba(205, 205, 205, 0.433);
  border-radius: 2px;
  margin: 0.3rem;
} */
.text {
  flex: 1;
}
/* DIgital Clock Styles */
/* body {
  background-image: url(assets/Spongebob.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
} */
.clock-container {
  backdrop-filter: blur(5px);
  padding: 10px 0;
  width: 100vw;
}

.clock {
  font-size: 3rem;
  color: rgb(255, 255, 255);
  font-family: monospace;
  font-weight: 600;
  text-align: center;
  text-shadow: 2px 2px 2px rgb(8, 8, 8);
}
/* Componet A styles */
.box {
  border: 2px solid black;
  padding: 1rem;
}
/* Navbar styles */
nav {
  box-sizing: border-box;
  background-color: rgb(0, 255, 255);
  position: fixed;
  top: 1em;
  top: 1em;
  backdrop-filter: blur(15px);
  margin: 0;
  width: 100%;
  padding: 0.5em 0em;
  display: flex;
  align-items: center;
  text-align: center;
}
.items {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  padding: 0 0.2em;
  position: relative;
  right: -10px;
}

.logo {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: inline;
  margin-right: 4em;
  font-weight: bold;
  text-shadow: 0.3px 0.3px 10px black;
}
body {
  margin: 0;
}
